<transition appear name="fade" mode="out-in">
    <div v-if='show' class="modal fade show" id="popUp" style="display: block;" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <slot name="body"></slot>
                </div>
                <div class="modal-footer p-1">
                    <slot name="footer">
                        <button type="button" class="btn btn-sm btn-outline-warning"  @click="close" data-dismiss="modal">Close</button>
                    </slot>
                </div>
            </div>
        </div>
    </div>
</transition>
