<div class="mt-1">
    <div class="d-inline">
        <div class="form-group d-inline w-75">
            <label for="searchInFriends">Search friend</label>
            <input id='searchInFriends' class="form-control form-control-sm bg-dark text-success" type="search"
                   v-model="searchString" @change="modifySearchString"
                   placeholder="Search" aria-label="Search">
        </div>
    </div>
    <div v-for="friend in friends">
        <div class="border border-dark mt-1 p-2 w-100">
            <router-link :to="'/id/' + friend.id">{{friend.firstName + ' ' + friend.lastName}}</router-link>
            <button class="text-success border-0 btn-outline-dark btn-link float-right" @click="add(friend.id)">add</button>
        </div>
    </div>
    <div v-if="nothingFound" class="text-warning border border-dark mt-1 p-1 w-100">
        <span>Nothing found...</span>
    </div>
</div>