<div class="mt-1">
    <div>
        <div class="form-group">
            <label for="searchInFriends">Email address</label>
            <input id='searchInFriends' class="form-control form-control-sm bg-dark text-success" type="search"
                   v-model="searchString" @change="modifySearchString"
                   placeholder="Search" aria-label="Search">
        </div>
    </div>
    <div v-for="friend in filteredFriends()">
        <div class="border border-dark mt-1 p-1 w-100 table">
            <router-link :to="'/id/' + friend.id">{{friend.firstName + ' ' + friend.lastName}}</router-link>
        </div>
    </div>
</div>