<form action="/login" method="post" class="col-md-4 container h-100">
    <br/>
    <h4 class="text-success align-content-center">Welcome to demo social network</h4>
    <br/>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" v-model="email"
               placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" class="form-control" id="pass" name="password" v-model="password" placeholder="Password">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-success">Login</button>
        <span class="pr-1 pl-1 bottom align-bottom align-text-bottom">or</span>
        <button class="btn btn-outline-primary" @click="registration">Registration</button>
    </div>
</form>