<form action="/registration" method="post" class="col-md-4 container h-100">
    <br/>
    <h4 class="text-success nav justify-content-center">Let's be familiar</h4>
    <br/>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control bg-dark text-success" id="email" name="email"
               aria-describedby="emailHelp"
               v-model="profile.email"
               placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" class="form-control bg-dark text-success" id="pass" name="password"
               v-model="profile.password"
               placeholder="Password">
    </div>
    <div class="form-group">
        <label>First name</label>
        <input class="form-control bg-dark text-success" name="firstName"
               v-model="profile.firstName"
               placeholder="First name">
    </div>
    <div class="form-group">
        <label>Last name</label>
        <input class="form-control bg-dark text-success" name="lastName"
               v-model="profile.lastName"
               placeholder="Last name">
    </div>
    <div class="form-group">
        <label for="birthDay">Birth day</label>
        <input required="required" type="date" class="form-control bg-dark text-success" id="birthDay" name="birthDay"
               v-model="birthDay"
               placeholder="Birth day">
    </div>
    <div class="form-group align-bottom">
        <button type="button" class="btn btn-sm btn-outline-success" @click="registration">Sign up</button>
        <span class="pl-1 pr-1 align-bottom"><u>or</u></span>
        <button type="button" class="btn btn-sm btn-outline-info" @click="login">Sign in</button>
    </div>
    <popup :show="showWarning" :close="closeWarning">
        <div slot="body"><h1>Body</h1></div>
    </popup>
</form>